<head>
    <% include ./partials/head %>
    <% include ./partials/styles %>
</head>


<body>
    <h1>Uh Oh!</h1>
    <p>The place you are looking for is forbidden! (or not available!) Please don't risk doing that again!</p>

    <h6>
        <a href="/">GO HOME DRUNK!</a>
    </h6>

</body>